/* Styles go here */
body {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.headerBar {
  background-color: #272222;
  height: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.headerIcon {
  width: 30px;
  margin-right: 10px;
}

.titleWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 225px;
}

.metamaskWrapper {
  width: 50px;
}

.headerTitle {
  color: white;
  text-decoration: underline;
  font-size: 24px;
}

.account {
  color: rgb(146, 137, 137);
  text-align: left;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding-right: 15px;
  text-decoration: underline;
  text-decoration-color: white;
}

.web3 {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 25px;
}

.game-grid {
  justify-content: center;
  width: 100%;
  align-items: center;
}

.matching-grid {
  justify-content: center;
  width: 400px;
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
}

.game-piece {
  width: 150px;
  height: 150px;
}

.token {
  color: red;
}
